{% extends  'twoColumnLayout.html' %}
{% block title %}
MemeMaker
{% endblock %}
{% block content1 %}
 <h1 style="display: block;">Helloworld, generate the dankest memes!</h1>
{% endblock %}

{% block content2 %}
    {% if current_user.is_authenticated %}
        <img id="image" src="/api/greeting/get?username={{ current_user.fullName }}" style="width: 100%;" alt="the giggest chad">
    {% else %}
        <img id="image" src="https://meme-maker-memes-flask.s3.eu-central-1.amazonaws.com/f3590936-6862-4820-9fc5-8c0da188749b" style="width: 100%;" alt="the giggest chad">
    {% endif %}
{% endblock %} 
