{% extends  'twoColumnLayout.html' %}
{% block css %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
{% endblock %}

{% block title %}
Register
{% endblock %}

{% block content1 %}
<form id="registerform" method="post"> 
    <div class="form-outline mb-4">
      <input type="name" name="fullname" id="form3Example2" class="form-control form-control-lg"
        placeholder="Enter your full name" />
      <label class="form-label" for="form3Example2">Full name</label>
    </div>
    
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input type="email" name="email" id="form3Example3" class="form-control form-control-lg"
        placeholder="Enter a valid email address" />
      <label class="form-label" for="form3Example3">Email address</label>
    </div>
    
    <!-- Password input -->
    <div class="form-outline mb-3">
      <input type="password" name="password" id="form3Example4" class="form-control form-control-lg"
        placeholder="Enter password" />
      <label class="form-label" for="form3Example4">Password</label>
    </div>
    
    <div class="text-center text-lg-start mt-4 pt-2">
      <button id="registerButton" type="submit" class="btn btn-primary btn-lg"
        style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
    </div>
</form>
{% endblock %}

{% block content2 %}
<img id="greetingimg" src="https://pbs.twimg.com/media/FF4lj5-XIAAPCn1?format=jpg&name=small" style="width: 100%;" alt="sample greeting image">
{% endblock %}

{% block js%}
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
{% endblock %}