{% extends  'twoColumnLayout.html' %}
{% block title %}
Create a Meme
{% endblock %}
{% block content1 %}
<form id="memeform" action="/api/creatememe"  enctype="multipart/form-data">
        <input class="form-check-input" type="checkbox" value="" id="imagecheckbox">
        <label class="form-check-label" for="imagecheckbox">
         Use image link
        </label>
        <input type="file" name="image" id="image" />
        <input type="text" placeholder="image link"  hidden name="imagelink" id="imagelink" />
        <input type="text" placeholder="upper text" name="upper" id="meme-upper" />
        <input type="text" placeholder="lower text" name="lower" id="meme-lower" />
    <input type="submit" value="Submit">
</form>

{% endblock %}

{% block content2 %}
<img style="width: 100%;" src="https://meme-maker-memes-flask.s3.eu-central-1.amazonaws.com/e0666104-7539-4751-a55a-7508b3022296" alt="sample meme">
{% endblock %}

{% block js%}
    <script>
        $("#imagecheckbox").change(function() {
            if(this.checked) {
                $("#imagelink").removeAttr("hidden")
                $("#image").attr("hidden", true)
            } else {
                $("#image").removeAttr("hidden")
                $("#imagelink").attr("hidden", true)
            }   
        });
        $('#memeform').on('submit',(function(e) {
            e.preventDefault()
            var data = new FormData();
            if($("#imagecheckbox").is(":checked")){
                data.append("image",$("#imagelink").val())
            } else {
                data.append("image",$('#image')[0].files[0]);
            }
            data.append("upper", $("#meme-upper").val())
            data.append("lower", $("#meme-lower").val())
            data.append("getLink", "1")
            console.log(data);
            console.log("submitting");
            console.log($(this).serialize());
            jQuery.ajax({
                url: '/api/creatememe',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                success: function(data){
                    link = data.src;
                    console.log(link);
                    // disable form
                    $("#memeform input").attr("disabled","disabled");
                    
                    // display image
                    html = `<img style="width: 100%;" src="${link}" alt="created meme">
                            <a href="${link}">  link to meme </a >`
                    $(".content-item:last").html(html);
                }
            });
        }));
    </script>
{% endblock %}