{% extends  'twoColumnLayout.html' %}
{% block title %}
MemeMaker
{% endblock %}
{% block content1 %}
 <h1 style="display: block;">Helloworld, generate the dankest memes!</h1>
{% endblock %}

{% block content2 %}
    <img id="image" style="width: 100%;" alt="the giggest chad">
{% endblock %} 

{% block js %}
<script>
    if(!localStorage.getItem("loggedIn")){
        $("#image").attr("src", "https://meme-maker-memes-flask.s3.eu-central-1.amazonaws.com/f3590936-6862-4820-9fc5-8c0da188749b" )
    } else {
        $("#image").attr("src", "/api/greeting/get?username="+(JSON.parse(localStorage.getItem("user")).fullName) )
    }
</script>
{% endblock %}